.button {
    background: url("images/button.jpg");
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px myFirstFont;
    margin: 4px 2px;
    cursor: pointer;
    background: url("images/button.jpg");
	}
	.button:hover{
	background-color:blue;
	color:red;
	}
  ul{
    list-style: none;
  }
body {
    background:  url("images/analysis.jpg");
    background-size:     cover;
    background-repeat:   ;
    background-position: center center;
}
div{

font-size: 20px ;
}
